@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

.banner {
    width: 100vw;
    height: 20vh;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.banner .toggles-box {
    padding: 10px 10px;
    margin: auto;
}

.banner .filters-box {
    margin: auto;
    padding: 10px 10px;
    height: auto;
}

.banner .filter-tile {
    background-color: transparent;
    color: grey;
    height: 3.5vh;
    width: 7vw;
}

.banner .filter-tile.filter-active {
    color: black;
    background-color: white;
}

.banner h1 {
    margin: auto;
    width: 25vw;
    text-align: center;
}


body {
    background-color: #2c3035;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
}

.ships-container {
    margin: auto;
    color: white;
    background-color: black;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.ship-column {
    margin: 10px 10px;
    background-color: pink;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

.ship-tile {
    margin: 2px 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
    height: 5vh;
    width: 18vw;
}

#normalbox .ship-tile {
    background-color: #A6A6A6;
}

#rarebox .ship-tile {
    background-color: #8ECEE3;
}

#elitebox .ship-tile {
    background-color: #A18ED1;
}

#superbox .ship-tile {
    background-color: #F0C503;
}

#normalbox .ship-tile.collected {
    background-color: transparent;
}

#rarebox .ship-tile.collected {
    background-color: transparent;
}

#elitebox .ship-tile.collected {
    background-color: transparent;
}

#superbox .ship-tile.collected {
    background-color: transparent;
}

.ship-tile.collected {
    color: #BBA14F;
    border: 2px solid #BBA14F;
    background-color: transparent;
}

.ship-tile:hover {
    cursor: pointer;
}

.ship-tile:active {
    background-color: blue;
}

.collected.hide-collected {
    display: none;
}

.hide-filter {
    display: none;
}